@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.center {
  max-width: 1140px;
  margin: 0 auto;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.hidden__item {
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* !!! Шапка */
.header {
  background-color: #222222;
  color: #fff;
}

.header__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 18px;
  margin-bottom: 19px;
}

.header__logo-link {
  margin-right: 41px;
  text-decoration: none;
}

.header__item-button {
  background: none;
  border: none;
}

.header__item-svg {
  fill: #E8E8E8;
}

.header__item-cart {
  position: absolute;
  top: -7px;
  right: -9px;
  width: 19px;
  height: 19px;
  background-color: #F16D7F;
  font-size: 12px;
  line-height: 14px;
  color: #FFF;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__item-button:hover .header__item-svg {
  fill: #F16D7F;
  cursor: pointer;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  list-style: none;
  position: relative;
}

.nav__item-link {
  text-decoration: none;
}

.nav__item-link:hover .header__item-svg {
  fill: #F16D7F;
}

/* !!! Промо */
.promo {
  background-color: #F1E4E6;
  /* !!! --catalog.html */
}

.promo__center {
  height: 764px;
  background-image: url("../img/promo-bg.png");
  background-repeat: no-repeat;
  background-position-x: -225px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.promo__title {
  font-weight: 900;
  font-size: 48px;
  line-height: 40px;
  color: #222;
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
  margin-right: 100px;
  margin-top: 290px;
}

.promo__title--small {
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
}

.promo__title--pink {
  color: #F16D7F;
}

.promo__center--cat {
  height: 100%;
  /* ??? */
  padding: 60px 0;
  background-image: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.promo__title--cat {
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

/* !!! --catalog.html */
.catnav__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 6px;
          column-gap: 6px;
}

.catnav__item::before {
  content: "/";
  margin-right: 6px;
  color: #636363;
}

.catnav__item:first-child::before {
  display: none;
}

.catnav__link {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
  text-decoration: none;
  text-transform: uppercase;
}

.catnav__link--last {
  font-weight: bold;
  color: #F16D7F;
}

.catnav__link[href]:hover {
  text-decoration: underline;
  color: #F16D7F;
}

/* !!!Категории товаров */
.catalog {
  background-color: #FFF;
  padding-top: 65px;
  padding-bottom: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.catalog__item {
  background: #C4C4C4;
  width: 360px;
  height: 260px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.catalog__mask {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(33, 22, 22, 0.7);
}

.catalog__item-offer {
  font-size: 16px;
  line-height: 19px;
  color: #FFF;
  text-align: center;
  z-index: 1;
}

.catalog__item-name {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  text-align: center;
  padding-top: 6px;
  z-index: 1;
}

.catalog__item:last-child {
  width: 100%;
  height: 180px;
  background-image: url("../img/cat-4.jpg");
  background-repeat: no-repeat;
  /* Линия в конце появляется */
  background-position: center;
  /* Линия в конце появляется */
}

.catalog__item:nth-child(1) {
  background-image: url("../img/cat-1.jpg");
}

.catalog__item:nth-child(2) {
  background-image: url("../img/cat-2.jpg");
}

.catalog__item:nth-child(3) {
  background-image: url("../img/cat-3.jpg");
}

/* !!!Каталог товаров */
.product {
  background-color: #FFF;
  margin-bottom: 95px;
}

.product__pmargin {
  margin-bottom: 128px;
  margin-top: 128px;
}

.product__title {
  font-size: 30px;
  line-height: 36px;
  color: #222;
  text-align: center;
}

.product__tdesc {
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  text-align: center;
  padding-top: 6px;
}

.product__main {
  margin-top: 48px;
  margin-bottom: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.product__item {
  width: 360px;
  position: relative;
  background-color: #F8F8F8;
  padding-bottom: 20px;
}

.product__mask {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 420px;
  background: rgba(58, 56, 56, 0.86);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.product__mask-button {
  padding: 14px 16px;
  font-size: 14px;
  line-height: 17px;
  color: #FFF;
  background: none;
  border: 1px solid #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__mask-button:hover {
  cursor: pointer;
}

.product__mask-img {
  margin-right: 11px;
}

.product__item:hover .product__mask {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product__name {
  font-size: 13px;
  line-height: 16px;
  color: #000;
  margin-top: 24px;
  padding-left: 18px;
}

.product__desc {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  margin-top: 13px;
  padding-left: 16px;
}

.product__price {
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  margin-top: 18px;
  padding-left: 19px;
}

.product__all {
  text-align: center;
}

.product__button {
  border: 1px solid #FF6A6A;
  padding: 15px 39px;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  background-color: #FFF;
  text-decoration: none;
  display: inline-block;
}

.product__button:hover {
  background-color: #F26376;
  color: #FFF;
}

.product__video {
  -o-object-fit: cover;
     object-fit: cover;
  /* object-position: top; */
}

/* !!!-- catalog.html */
.filter__box {
  margin-top: 51px;
}

.product__main-cat {
  margin-top: 64px;
}

.product__page {
  margin-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page__list {
  padding: 15px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #EBEBEB;
  border-radius: 3px;
  -webkit-column-gap: 15px;
          column-gap: 15px;
  background-color: #FFF;
}

.page__item-link {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #C4C4C4;
  text-decoration: none;
}

.page__item-link:hover {
  color: #EF5B70;
}

.page__item-last::before {
  content: ".....";
  margin-left: -15px;
  font-weight: 300;
  font-size: 16px;
  color: #C4C4C4;
}

.page__item-button {
  padding-top: 3px;
}

.page__button-link[href]:hover .page__button-svg {
  fill: #F16D7F;
}

.page__button-svg {
  fill: #000;
}

/* !!!-- catalog.html */
/* !!! Преимущества */
.feature {
  background-color: #222;
  color: #FFF;
  padding: 105px 0;
}

.feature__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  row-gap: 48px;
}

.feature__item {
  text-align: center;
  max-width: 360px;
}

.fitem-img {
  height: 40px;
}

.fitem-h3 {
  font-size: 19px;
  line-height: 24px;
  color: #FBFBFB;
  padding-top: 19px;
}

.fitem-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #FBFBFB;
  padding-top: 16px;
}

/* !!!Обратная связь и отзыв */
.feedback {
  background-image: url("../img/subscribe-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 97px;
  padding-bottom: 155px;
  position: relative;
}

.feedback__mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(244, 244, 244, 0.7);
}

.feedback__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.feedback__review {
  width: 360px;
  text-align: center;
  z-index: 1;
}

.feedback__form {
  padding-right: 100px;
  z-index: 1;
}

.review__img {
  margin-bottom: 30px;
}

.review__blockquote {
  font-size: 20px;
  line-height: 24px;
  color: #222;
  text-align: center;
}

.form__title {
  font-weight: normal;
  font-size: 18px;
  line-height: 168%;
  color: #222;
  text-align: center;
}

.form__title--bold {
  font-weight: bold;
  font-size: 24px;
}

.form__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 32px;
}

.form__email {
  padding: 19px 20px;
  font-size: 14px;
  line-height: 17px;
  color: #222;
  opacity: 0.67;
  background-color: #E1E1E1;
  border: none;
  border-radius: 25px 0 0 25px;
  width: 255px;
}

.form__button {
  padding: 19px 20px;
  font-size: 14px;
  line-height: 17px;
  color: #FFF;
  background-color: #E05C6E;
  border: none;
  border-radius: 0 25px 25px 0;
  cursor: pointer;
}

/* !!!Foter */
.footer {
  background-color: #222;
  color: #000;
}

.footer__center {
  padding: 24px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__copy {
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 7px;
}

.social__link {
  width: 32px;
  height: 32px;
  background-color: #fff;
  font-size: 16px;
  color: #000;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__link:hover {
  background-color: #F16D7F;
  color: #FFF;
}

/* !!!Slide */
.slide {
  height: 777px;
  background-color: #F7F7F7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #EAEAEA;
  padding-bottom: 65px;
}

.slide__button {
  width: 47px;
  height: 47px;
  background: rgba(42, 42, 42, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
}

.slide__button:hover {
  cursor: pointer;
}

.slide__button:hover .slide__butto-svg {
  fill: #F16D7F;
}

.slide__foto {
  height: 712px;
}

/* !!!ViewProduct */
.viewproduct {
  background-color: #FFF;
  border: 1px solid #EAEAEA;
  margin-top: -65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 65px;
  padding-bottom: 65px;
}

.viewproduct__p {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  margin-bottom: 12px;
}

.viewproduct__hr {
  background-color: #EF5B70;
  border: 1px solid #EF5B70;
  width: 63px;
  height: 3px;
  margin-bottom: 12px;
}

.viewproduct__h2 {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
  margin-bottom: 48px;
}

.viewproduct__desc {
  width: 555px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5E5E5E;
  text-align: center;
  margin-bottom: 32px;
}

.viewproduct__price {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #EF5B70;
  margin-bottom: 65px;
}

.viewproduct__hr2 {
  width: 642px;
  height: 1px;
  background-color: #EAEAEA;
  border: none;
  margin-bottom: 65px;
}

.viewproduct__choice {
  margin-bottom: 48px;
}

.viewproduct__button {
  padding: 15px 57px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 23px;
          column-gap: 23px;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  border: 1px solid #FF6A6A;
  background-color: #FFF;
}

.viewproduct__button:hover {
  color: #FFF;
  background-color: #F26376;
  cursor: pointer;
}

.viewproduct__button:hover .viewproduct__button-img {
  fill: #FFF;
}

.viewproduct__button-img {
  margin-left: -33px;
  fill: #F26376;
}
/*# sourceMappingURL=style.css.map */