* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.center {
    max-width: 1140px;
    margin: 0 auto;
}
.main {
    flex-grow: 1;
}
.hidden__item {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    margin: -1px;
    visibility: hidden;
}


/* !!! Шапка */
.header {
    background-color: #222222;
    color: #fff;
}
.header__center {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 18px;
    margin-bottom: 19px;
}
.heade__logo-link {
    margin-right: 41px;
    text-decoration: none;
}
.header__item-button {
    background: none;
    border: none;
}
.header__item-svg {
    fill: #E8E8E8;
}
.nav__list {
    display: flex;
    align-items: flex-end;
    column-gap: 30px;
    list-style: none;
}
.nav__item-link {
    text-decoration: none;
}
.nav__item-link:hover .header__item-svg {
    fill: #F16D7F;
}
.header__item-button:hover .header__item-svg {
    fill: #F16D7F;
    cursor: pointer;
}
/* !!! Шапка */


/* !!! Промо */
.promo {
    background-color: #F1E4E6;
}
.promo__center {
    height: 764px;
    background-image: url("../img/promo-bg.png");
    background-repeat: no-repeat;
    background-position-x: -225px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}
.promo__title {
    font-weight: 900;
    font-size: 48px;
    line-height: 40px;
    color: #222222;
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
    margin-right: 100px;
    margin-top: 290px;
}
.promo__title--small {
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
}
.promo__title--pink {
    color: #F16D7F;
}
/* !!! Промо */


/* !!!Категории товаров */
.catalog {
    background-color: #fff;
    padding-top: 65px;
    padding-bottom: 96px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}
.catalog__item {
    background: #C4C4C4;
    width: 360px;
    height: 260px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.catalog__mask {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(33, 22, 22, 0.7);
}
.catalog__item-offer {
    font-size: 16px;
    /* line-height: 19px; */
    text-align: center;
    color: #FFFFFF;
    z-index: 1;
}
.catalog__item-name {
    font-weight: bold;
    font-size: 24px;
    padding-top: 6px;
    /* line-height: 29px; */
    text-align: center;
    color: #F16D7F;
    z-index: 1;
}
.catalog__item:last-child {
    width: 100%;
    height: 180px;
    background-image: url("../img/cat-4.jpg");
    background-repeat: no-repeat; /* Линия в конце появляется */
    background-position: center; /* Линия в конце появляется */
}
.catalog__item:nth-child(1) {
    background-image: url("../img/cat-1.jpg");
}
.catalog__item:nth-child(2) {
    background-image: url("../img/cat-2.jpg");
}
.catalog__item:nth-child(3) {
    background-image: url("../img/cat-3.jpg");
}
/* !!!Категории товаров */


/* !!!Каталог товаров */
.product {
    background-color: #fff;
    margin-bottom: 109px;
}
.product__title {
    font-size: 30px;
    line-height: 36px;
    color: #222222;
    text-align: center;
}
.product__tdesc {
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    text-align: center;
    padding-top: 6px;
}
.product__main {
    margin-top: 48px;
    margin-bottom: 48px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}
.product__item {
    width: 360px;
    position: relative;
    background-color: #F8F8F8;
    padding-bottom: 20px;
}
.product__mask {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 420px;
    background: rgba(58, 56, 56, 0.86);
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.product__mask-button {
    padding: 14px 16px;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    background: none;
    border: 1px solid #FFF;
    display: flex;
    align-items: center;
}
.product__mask-img {
    margin-right: 11px;
}
.product__item:hover .product__mask {
    display: flex;
}
.product__mask-button:hover {
    cursor: pointer;
}
.product__name {
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    margin-top: 24px;
    padding-left: 18px;
}
.product__desc {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    margin-top: 13px;
    padding-left: 16px;
}
.product__price {
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    margin-top: 18px;
    padding-left: 19px;
}
.product__all {
    text-align: center;
}
.product__button {
    border: 1px solid #FF6A6A;
    padding: 15px 39px;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    background-color: #fff;
    text-decoration: none;
    display: inline-block;
}
.product__button:hover {
    background-color: #F26376;
    color: #fff;
}
.product__video {
    object-fit: cover;
    /* object-position: top; */
}
/* !!!Каталог товаров */


/* !!! Преимущества */
.feature {
    background-color: #222222;
    color: #fff;
    padding: 105px 0;
}
.feature__flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 48px;
}
.feature__item {
    text-align: center;
    max-width: 360px;
}
.fitem-img {
    height: 40px;
}
.fitem-h3 {
    padding-top: 19px;
    font-size: 19px;
    line-height: 24px;
    color: #FBFBFB;
}
.fitem-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #FBFBFB;
    padding-top: 16px;
}
/* !!! Преимущества */


/* !!!Обратная связь и отзыв */
.feedback {
    background-image: url("../img/subscribe-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 97px;
    padding-bottom: 155px;
    position: relative;
}
.feedback__mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(244, 244, 244, 0.7);
}
.feedback__center {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}
.feedback__review {
    width: 360px;
    text-align: center;
    z-index: 1;
}
.review__img {
    margin-bottom: 30px;
}
.review__blockquote {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
}
.feedback__form {
    padding-right: 100px;
    z-index: 1;
}
.form__title {
    font-weight: normal;
    font-size: 18px;
    line-height: 167%;
    color: #222224;
    text-align: center;

}
.form__title--bold {
    font-weight: bold;
    font-size: 24px;
}
.form__block {
    display: flex;
    justify-content: center;
    margin-top: 32px;
}
.form__email {
    padding: 19px 20px;
    font-size: 14px;
    line-height: 17px;
    color: #222224;
    opacity: 0.67;
    background-color: #E1E1E1;
    border: none;
    border-radius: 25px 0 0 25px;
    width: 255px;
}
.form__button {
    padding: 19px 20px;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    background-color: #E05C6E;
    border: none;
    border-radius: 0 25px 25px 0;
    cursor: pointer;
}
/* !!!Обратная связь и отзыв */


/* !!!Foter */
.footer {
    background-color: #222222;
    color: #fff;
}
.footer__center {
    padding: 24px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__copy {
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}
.footer__social {
    display: flex;
    gap: 7px;
}
.social__link {
    width: 32px;
    height: 32px;
    background-color: #fff;
    color: #000;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social__link:hover {
    background-color: #F16D7F;
    color: #fff;
}
/* !!!Foter */
