@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.center {
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.hidden__item {
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* !!! Шапка */
.header {
  background-color: #222;
  color: #FFF;
}

.header__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 18px;
  margin-bottom: 19px;
}

.header__logo-link {
  margin-right: 41px;
  text-decoration: none;
}

.header__item-button {
  background: none;
  border: none;
}

.header__item-svg {
  fill: #E8E8E8;
}

.header__item-cart {
  position: absolute;
  top: -7px;
  right: -9px;
  width: 19px;
  height: 19px;
  background-color: #F16D7F;
  font-size: 12px;
  line-height: 14px;
  color: #FFF;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__item-button:hover .header__item-svg {
  fill: #F16D7F;
  cursor: pointer;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  list-style: none;
  position: relative;
}

.nav__item-link {
  text-decoration: none;
}

.nav__item-link:hover .header__item-svg {
  fill: #F16D7F;
}

@media (max-width: 752px) {
  .nav__item:nth-last-child(1), .nav__item:nth-last-child(2) {
    display: none;
  }
}

.main__menu {
  display: none;
  position: absolute;
  right: 0px;
  top: 78px;
  height: 764px;
  width: 232px;
  background-color: #FFF;
  padding: 37px 34px;
  color: #000;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  -webkit-animation: left-menu 0.8s;
  animation: left-menu 0.8s;
}

@-webkit-keyframes left-menu {
  0% {
    -webkit-transform: translateX(232px);
    transform: translateX(232px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}

@keyframes left-menu {
  0% {
    -webkit-transform: translateX(232px);
    transform: translateX(232px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}

.main__menu-box {
  position: relative;
}

.main__menu-close {
  border: none;
  background: none;
  position: absolute;
  right: -9px;
  top: -9px;
  cursor: pointer;
}

.main__menu-close:hover .main__menu-close--svg {
  fill: #F26376;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.main__menu-close--svg {
  fill: #6F6E6E;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.main__menu-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}

.main__menu-list {
  list-style: none;
}

.main__menu-item {
  margin-top: 20px;
}

.main__menu-item:nth-child(1) {
  margin-top: 24px;
}

.main__menu-link {
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  text-decoration: none;
}

.main__menu-link:hover {
  color: #6F6E6E;
}

.main__submenu-list {
  list-style: none;
  margin-left: 20px;
  margin-top: 12px;
}

.main__submenu-item {
  margin-bottom: 11px;
}

.main__submenu-item:nth-last-child(1) {
  margin-bottom: 0px;
}

.main__submenu-link {
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  text-decoration: none;
}

.main__submenu-link:hover {
  color: #F26376;
}

/* !!! Промо */
.promo {
  background-color: #F1E4E6;
  /* !!! --catalog.html */
}

.promo__old {
  background-color: #F8F3F4;
}

.promo__center {
  height: 764px;
  background-image: url("../img/promo-bg.png");
  background-repeat: no-repeat;
  background-position-x: -225px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.promo__title {
  font-weight: 900;
  font-size: 48px;
  line-height: 40px;
  color: #222;
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
  padding-top: 10px;
  margin-right: 100px;
  margin-top: 290px;
  -webkit-animation: slideh1 0.8s both;
  animation: slideh1 0.8s both;
}

@-webkit-keyframes slideh1 {
  0% {
    -webkit-transform: translateX(200px);
    transform: translateX(200px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}

@keyframes slideh1 {
  0% {
    -webkit-transform: translateX(200px);
    transform: translateX(200px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}

.promo__title--small {
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
}

.promo__title--pink {
  color: #F16D7F;
}

.promo__center--cat {
  height: 148px;
  background-image: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.promo__title--cat {
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  -webkit-animation: slideh1-cat 0.8s;
  animation: slideh1-cat 0.8s;
}

@-webkit-keyframes slideh1-cat {
  0% {
    -webkit-transform: translateX(350px);
    transform: translateX(350px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}

@keyframes slideh1-cat {
  0% {
    -webkit-transform: translateX(350px);
    transform: translateX(350px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}

@media (max-width: 1170px) {
  .promo__center {
    height: 365px;
    background-position-x: 0;
    background-size: contain;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .promo__title {
    margin: 0;
    margin-right: 16px;
  }
  .promo__center--cat {
    height: 148px;
  }
}

@media (max-width: 752px) {
  .promo__center--cat {
    height: 148px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 32px;
  }
  .promo__center {
    background-image: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .promo__title {
    padding-top: 5px;
    font-weight: 900;
    font-size: 38px;
    line-height: 24px;
    color: #222;
  }
  .promo__title--small {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
  }
  .promo__title--cat {
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #F16D7F;
  }
  @-webkit-keyframes slideh1 {
    0% {
      -webkit-transform: translateX(50px);
      transform: translateX(50px);
    }
  }
  @keyframes slideh1 {
    0% {
      -webkit-transform: translateX(50px);
      transform: translateX(50px);
    }
  }
  @-webkit-keyframes slideh1-cat {
    0% {
      -webkit-transform: translateX(50px);
      transform: translateX(50px);
    }
  }
  @keyframes slideh1-cat {
    0% {
      -webkit-transform: translateX(50px);
      transform: translateX(50px);
    }
  }
}

.catnav__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 6px;
          column-gap: 6px;
}

.catnav__item::before {
  content: "/";
  margin-right: 6px;
  color: #636363;
}

.catnav__item:first-child::before {
  display: none;
}

.catnav__link {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
  text-decoration: none;
  text-transform: uppercase;
}

.catnav__link--last {
  font-weight: bold;
  color: #F16D7F;
}

.catnav__link[href]:hover {
  text-decoration: underline;
  color: #F16D7F;
}

/* !!!Категории товаров */
.catalog {
  background-color: #FFF;
  padding-top: 65px;
  padding-bottom: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.catalog__item {
  background: #C4C4C4;
  width: 31.5%;
  height: 260px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.catalog__mask {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(33, 22, 22, 0.7);
}

.catalog__item-offer {
  font-size: 16px;
  line-height: 19px;
  color: #FFF;
  text-align: center;
  z-index: 1;
}

.catalog__item-name {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  text-align: center;
  padding-top: 6px;
  z-index: 1;
}

.catalog__item:last-child {
  width: 100%;
  height: 180px;
  background-image: url("../img/cat-4.jpg");
  background-repeat: no-repeat;
  /* Линия в конце появляется */
  background-position: center;
  /* Линия в конце появляется */
  background-size: cover;
}

.catalog__item:nth-child(2) {
  background-image: url("../img/cat-1.jpg");
  background-size: cover;
}

.catalog__item:nth-child(3) {
  background-image: url("../img/cat-2.jpg");
  background-size: cover;
}

.catalog__item:nth-child(4) {
  background-image: url("../img/cat-3.jpg");
  background-size: cover;
}

@media (max-width: 1170px) {
  .catalog {
    gap: 19px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 155px;
  }
  .catalog__item {
    width: 31.5%;
    height: 168px;
  }
  .catalog__item:last-child {
    height: 116px;
  }
}

@media (max-width: 752px) {
  .catalog {
    gap: 32px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 64px;
    padding-bottom: 64px;
  }
  .catalog__item {
    width: 343px;
    height: 247px;
  }
  .catalog__item:last-child {
    width: 343px;
    height: 111px;
  }
}

/* !!!Каталог товаров */
.product {
  background-color: #FFF;
  margin-bottom: 95px;
}

.product__pmargin {
  margin-bottom: 128px;
  margin-top: 128px;
}

.product__title {
  font-size: 30px;
  line-height: 36px;
  color: #222;
  text-align: center;
}

.product__tdesc {
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  text-align: center;
  padding-top: 6px;
}

.product__main {
  margin-top: 48px;
  margin-bottom: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.product__item {
  width: 360px;
  position: relative;
  background-color: #F8F8F8;
  padding-bottom: 20px;
}

.product__mask {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 420px;
  background: rgba(58, 56, 56, 0.86);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.product__mask-button {
  padding: 14px 16px;
  font-size: 14px;
  line-height: 17px;
  color: #FFF;
  background: none;
  border: 1px solid #FFF;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.product__mask-button:hover {
  cursor: pointer;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  background-color: #666;
}

.product__mask-img {
  margin-right: 11px;
  vertical-align: middle;
}

.product__item:hover .product__mask {
  opacity: 1;
}

.product__link {
  font-size: 13px;
  line-height: 16px;
  color: #000;
  text-decoration: none;
}

.product__link:hover {
  color: #F16D7F;
}

.product__name {
  margin-top: 24px;
  padding-left: 18px;
}

.product__desc {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  margin-top: 13px;
  padding-left: 16px;
}

.product__price {
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  margin-top: 18px;
  padding-left: 19px;
}

.product__all {
  text-align: center;
}

.product__button {
  border: 1px solid #FF6A6A;
  padding: 15px 39px;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  background-color: #FFF;
  text-decoration: none;
  display: inline-block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.product__button:hover {
  background-color: #F26376;
  color: #FFF;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.product__video {
  -o-object-fit: cover;
     object-fit: cover;
  /* object-position: top; */
}

@media (max-width: 1170px) {
  .product {
    margin-bottom: 64px;
  }
  .product__main {
    gap: 15px;
    margin-top: 72px;
    margin-bottom: 32px;
  }
}

@media (max-width: 752px) {
  .product {
    margin-bottom: 96px;
  }
  .product__main {
    gap: 15px;
    margin-top: 64px;
    margin-bottom: 40px;
  }
}

/* !!!-- catalog.html */
.product__main-cat {
  margin-top: 64px;
}

.product__page {
  margin-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1170px) {
  .product__main-cat {
    margin-top: 40px;
  }
  .product__page {
    margin-top: 40px;
  }
}

@media (max-width: 752px) {
  .product__main-cat {
    margin-top: 32px;
  }
}

.page__list {
  padding: 15px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #EBEBEB;
  border-radius: 3px;
  -webkit-column-gap: 15px;
          column-gap: 15px;
  background-color: #FFF;
}

.page__item-link {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #C4C4C4;
  text-decoration: none;
}

.page__item-link:hover {
  color: #EF5B70;
  text-decoration: underline;
}

.page__item-link:not([href]) {
  color: #EF5B70;
  text-decoration: none;
}

.page__item-last::before {
  content: ".....";
  margin-left: -15px;
  font-weight: 300;
  font-size: 16px;
  color: #C4C4C4;
}

.page__item-button {
  padding-top: 3px;
}

.page__button-link[href]:hover .page__button-svg {
  fill: #F16D7F;
}

.page__button-svg {
  fill: #000;
}

/* !!!-- catalog.html */
.filter__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  margin-top: 39px;
}

.filter__main-details {
  position: relative;
  width: 360px;
}

.filter__main-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  display: block;
  cursor: pointer;
  padding-left: 16px;
  padding-top: 13px;
  background-color: #FFF;
  z-index: 20;
  position: relative;
}

.filter__main-title::-webkit-details-marker {
  display: none;
}

.filter__main-title:hover {
  color: #EF5B70;
}

.filter__main-title:hover .filter__main-svg {
  fill: #EF5B70;
}

.filter__main-svg {
  fill: #000;
  margin-left: 11px;
}

.filter__main-details[open] {
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.filter__main-details[open] .filter__main-title {
  color: #EF5B70;
}

.filter__main-details[open] .filter__main-svg {
  fill: #EF5B70;
}

.filter__list {
  width: 360px;
  position: absolute;
  padding: 16px 17px 16px 17px;
  background-color: #FFF;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  z-index: 10;
}

.filter__next-title {
  display: block;
  font-size: 14px;
  line-height: 17px;
  color: #EF5B70;
  padding: 8px 11px 11px 11px;
  border-bottom: 1px solid #EBEBEB;
  border-left: 5px solid #EF5B70;
  cursor: pointer;
}

.filter__next-title::-webkit-details-marker {
  display: none;
}

.filter__next-list {
  list-style: none;
  padding-top: 24px;
  padding-left: 17px;
}

.filter__next-item {
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 11px;
}

.filter__next-item:nth-last-child(1) {
  margin-bottom: 0px;
}

.filter__next-ilink {
  text-decoration: none;
  color: #6F6E6E;
}

.filter__margin {
  margin-top: 18px;
}

@media (max-width: 1170px) {
  .filter__box {
    margin-top: 24px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .filter__main-details {
    width: 50px;
  }
  .filter__main-details[open] {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .filter__main-title {
    padding-left: 0;
    background: none;
    padding-top: 0;
  }
  .filter__main-svg {
    margin-left: 0;
  }
  .filter__list {
    margin-top: 20px;
  }
}

@media (max-width: 752px) {
  .filter__list {
    width: 330px;
  }
}

@media (max-width: 1170px) {
  .hidden__plan {
    display: none;
  }
  .filter__main-svg {
    width: 37.5px;
    height: 25px;
  }
}

.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sort__details {
  position: relative;
  padding-right: 28px;
}

.sort__title {
  display: block;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  cursor: pointer;
}

.sort__title::-webkit-details-marker {
  display: none;
}

.sort__title:hover {
  color: #EF5B70;
}

.sort__title:hover .sort__svg {
  fill: #EF5B70;
}

.sort__svg {
  fill: #6F6E6E;
  margin-left: 9px;
}

.sort__box {
  position: absolute;
  left: -10px;
  background-color: #FFF;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  margin-top: 5px;
  padding: 9px 30px 9px 9px;
  z-index: 20;
}

.sort__box-label {
  display: block;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  margin-bottom: 7px;
}

.sort__box-label:nth-last-child(1) {
  margin-bottom: 0px;
}

.sort__box-checkbox {
  margin-right: 9px;
  width: 13px;
  height: 13px;
  border: 3px solid #EBEBEB;
}

@media (max-width: 1170px) {
  .sort__details {
    padding-right: 24px;
  }
  .sort__details:nth-last-child(1) {
    padding-right: 0;
  }
}

@media (max-width: 752px) {
  .sort__title {
    font-size: 12px;
    line-height: 14px;
    color: #6F6E6E;
  }
}

/* !!! Преимущества */
.feature {
  background-color: #222;
  color: #FFF;
  padding: 105px 0;
}

.feature__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  row-gap: 48px;
}

.feature__item {
  text-align: center;
  max-width: 360px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.feature__item:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

@media (max-width: 1170px) {
  .feature {
    padding-top: 48px;
    padding-bottom: 64px;
  }
  .feature__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 752px) {
  .feature {
    padding-top: 48px;
    padding-bottom: 81px;
  }
}

.fitem-img {
  height: 40px;
}

.fitem-h3 {
  font-size: 19px;
  line-height: 24px;
  color: #FBFBFB;
  padding-top: 19px;
}

.fitem-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #FBFBFB;
  padding-top: 16px;
}

/* !!!Обратная связь и отзыв */
.feedback {
  background-image: url("../img/subscribe-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 97px;
  padding-bottom: 155px;
  position: relative;
}

.feedback__mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(244, 244, 244, 0.7);
}

.feedback__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.feedback__review {
  width: 360px;
  text-align: center;
  z-index: 1;
}

.feedback__form {
  padding-right: 100px;
  z-index: 1;
}

@media (max-width: 1170px) {
  .feedback {
    padding-top: 64px;
    padding-bottom: 140px;
  }
  .feedback__center {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .feedback__form {
    padding-right: 0;
    margin-top: 85px;
  }
}

@media (max-width: 752px) {
  .feedback {
    padding-bottom: 110px;
  }
  .feedback__form {
    margin-top: 75px;
  }
  .feedback__center {
    padding: 0;
  }
  .feedback__review {
    width: 100%;
  }
}

.review__img {
  margin-bottom: 30px;
}

.review__blockquote {
  font-size: 20px;
  line-height: 24px;
  color: #222;
  text-align: center;
}

.form__title {
  font-weight: normal;
  font-size: 18px;
  line-height: 168%;
  color: #222;
  text-align: center;
}

.form__title--bold {
  font-weight: bold;
  font-size: 24px;
}

.form__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 32px;
}

.form__email {
  padding: 19px 20px;
  font-size: 14px;
  line-height: 17px;
  color: #222;
  opacity: 0.67;
  background-color: #E1E1E1;
  border: none;
  border-radius: 25px 0 0 25px;
  width: 255px;
}

.form__button {
  padding: 19px 20px;
  font-size: 14px;
  line-height: 17px;
  color: #FFF;
  background-color: #E05C6E;
  border: none;
  border-radius: 0 25px 25px 0;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.form__button:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

@media (max-width: 752px) {
  .form__email {
    width: 220px;
  }
}

/* !!!Foter */
.footer {
  background-color: #222;
  color: #000;
}

.footer__center {
  padding-top: 24px;
  padding-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__copy {
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 7px;
}

@media (max-width: 752px) {
  .footer__center {
    padding-top: 43px;
    padding-bottom: 10px;
    gap: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.social__link {
  width: 32px;
  height: 32px;
  background-color: #fff;
  font-size: 16px;
  color: #000;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__link:hover {
  background-color: #F16D7F;
  color: #FFF;
  -webkit-animation: social__rotate-center 0.6s ease-in-out both;
  animation: social__rotate-center 0.6s ease-in-out both;
}

@-webkit-keyframes social__rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes social__rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* !!!Slide */
.slide {
  height: 777px;
  background-color: #F7F7F7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #EAEAEA;
  border-bottom: 1px solid #EAEAEA;
  padding-bottom: 65px;
}

.slide__button {
  width: 47px;
  height: 47px;
  background: rgba(42, 42, 42, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.slide__button:hover {
  cursor: pointer;
  background: none;
  outline: 1px solid #F16D7F;
  border-radius: 25px;
}

.slide__button:hover .slide__butto-svg {
  fill: #F16D7F;
}

.slide__button-left:hover {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

.slide__button-right:hover {
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
}

.slide__img {
  height: 711px;
}

@media (max-width: 1170px) {
  .slide {
    padding-bottom: 0;
  }
}

@media (max-width: 752px) {
  .slide {
    height: 454px;
  }
  .slide__img {
    height: 100%;
    width: 100%;
  }
  .slide__button {
    position: absolute;
  }
  .slide__button-left {
    left: 0;
  }
  .slide__button-right {
    right: 0;
  }
}

/* !!!ViewProduct */
.viewproduct {
  background-color: #FFF;
  border: 1px solid #EAEAEA;
  margin-top: -65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 65px;
  padding-bottom: 65px;
}

.viewproduct__p {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  margin-bottom: 12px;
}

.viewproduct__hr {
  background-color: #EF5B70;
  border: 1px solid #EF5B70;
  width: 63px;
  height: 3px;
  margin-bottom: 12px;
}

.viewproduct__h2 {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
  margin-bottom: 48px;
}

.viewproduct__desc {
  width: 555px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5E5E5E;
  text-align: center;
  margin-bottom: 32px;
}

.viewproduct__price {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #EF5B70;
  margin-bottom: 65px;
}

.viewproduct__hr2 {
  width: 642px;
  height: 1px;
  background-color: #EAEAEA;
  border: none;
  margin-bottom: 65px;
}

.viewproduct__choice {
  margin-bottom: 48px;
}

.viewproduct__button {
  padding: 15px 57px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 23px;
          column-gap: 23px;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  border: 1px solid #FF6A6A;
  background-color: #FFF;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.viewproduct__button:hover {
  color: #FFF;
  background-color: #F26376;
  cursor: pointer;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.viewproduct__button:hover .viewproduct__button-img {
  fill: #FFF;
}

.viewproduct__button-img {
  margin-left: -33px;
  fill: #F26376;
}

.viewproduct__choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 23px;
          column-gap: 23px;
}

.viewproduct__sort {
  position: relative;
}

.viewproduct__sort-title {
  display: block;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  cursor: pointer;
}

.viewproduct__sort-title::-webkit-details-marker {
  display: none;
}

.viewproduct__sort-title:hover {
  color: #EF5B70;
}

.viewproduct__sort-title:hover .viewproduct__sort-svg {
  fill: #EF5B70;
}

.viewproduct__sort-svg {
  margin-left: 9px;
  fill: #6F6E6E;
}

.viewproduct__sort-dtl {
  position: absolute;
}

@media (max-width: 1170px) {
  .viewproduct {
    margin-top: 0;
  }
}

@media (max-width: 752px) {
  .viewproduct__h2 {
    margin-bottom: 32px;
  }
  .viewproduct__desc {
    width: 326px;
  }
  .viewproduct__price {
    margin-bottom: 32px;
  }
  .viewproduct__hr2 {
    width: 175px;
  }
  .viewproduct__sort-title {
    font-size: 10px;
    line-height: 12px;
    color: #6F6E6E;
  }
}

/* !!!Registration */
.registration {
  padding-top: 64px;
  padding-bottom: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 128px;
          column-gap: 128px;
}

.registration__about {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000;
}

@media (max-width: 1170px) {
  .registration {
    padding-top: 40px;
    -webkit-column-gap: 22px;
            column-gap: 22px;
  }
  .registration__about {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #000;
  }
}

@media (max-width: 752px) {
  .registration {
    width: 360px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 40px;
  }
}

.regform__title {
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222;
}

.regform__radiobox {
  margin-bottom: 33px;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.regform__radio-title {
  margin-left: 10px;
  font-size: 11px;
  line-height: 13px;
  color: #000;
}

.regform__radio-margin {
  margin-left: 20px;
}

.regform__input {
  width: 360px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  padding: 16px 17px;
  border: 1px solid #A4A4A4;
}

.regform__input::-webkit-input-placeholder {
  color: #B1B1B1;
}

.regform__input:-ms-input-placeholder {
  color: #B1B1B1;
}

.regform__input::-ms-input-placeholder {
  color: #B1B1B1;
}

.regform__input::placeholder {
  color: #B1B1B1;
}

.regform__margin {
  margin-bottom: 20px;
}

.regform__margin2 {
  margin-bottom: 31px;
}

.regform__margin3 {
  margin-bottom: 15px;
}

.regform__dptxt {
  margin-bottom: 39px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.regform__button {
  padding: 16px 29px;
  background-color: #F16D7F;
  border: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #FFF;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.regform__button:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.regform__button:hover .regform__button-svg {
  -webkit-animation: rotate-btnsvg 0.6s;
          animation: rotate-btnsvg 0.6s;
}

@-webkit-keyframes rotate-btnsvg {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate-btnsvg {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.regform__button-svg {
  margin-left: 20px;
  fill: #FFFFFF;
}

.about__title {
  margin-bottom: 22px;
}

.about__p {
  margin-bottom: 21px;
}

.about__list {
  list-style: none;
}

.about__item {
  margin-bottom: 16px;
}

.about__item-svg {
  margin-right: 23px;
  fill: #000;
}

@media (max-width: 1170px) {
  .about__item {
    margin-bottom: 23px;
  }
}

/* !!!Корзина с товарами */
.basket {
  padding-top: 96px;
  padding-bottom: 128px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 128px;
          column-gap: 128px;
}

.basket__box {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.basket__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 40px;
}

.basket__item {
  position: relative;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
  -webkit-box-shadow: 17px 19px 24px 0px rgba(0, 0, 0, 0.13);
          box-shadow: 17px 19px 24px 0px rgba(0, 0, 0, 0.13);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.basket__item-box {
  margin-top: 22px;
  margin-left: 31px;
  margin-right: 97px;
}

.basket__item-title {
  font-size: 24px;
  line-height: 29px;
  color: #222;
  margin-bottom: 42px;
}

.basket__item-desc {
  margin-bottom: 6px;
}

.basket__item-s1 {
  color: #EF5B70;
}

.basket__item-s2 {
  color: #6F6E6E;
}

.basket__item-input {
  font-size: 18px;
  line-height: 22px;
  color: #656565;
  width: 44px;
  padding: 1px 15px;
  border: 1px solid #EAEAEA;
  margin-left: 24px;
}

.basket__item-button {
  position: absolute;
  top: 28px;
  right: 22px;
  border: none;
  background: none;
  fill: #575757;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.basket__item-button:hover {
  fill: #EF5B70;
  cursor: pointer;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.basket__box-button {
  margin-top: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.basket__button {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #222;
  padding: 17px 40px;
  border: 1px solid #A4A4A4;
  background: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.basket__button:hover {
  border: 1px solid #F16D7F;
  background: #F16D7F;
  color: #FFF;
  cursor: pointer;
}

@media (max-width: 1170px) {
  .basket {
    padding-top: 59px;
    padding-bottom: 128px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .basket__box-button {
    margin-top: 62px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 48px;
  }
}

@media (max-width: 752px) {
  .basket {
    padding-top: 39px;
    padding-bottom: 96px;
  }
  .basket__box-button {
    margin-top: 30px;
    gap: 9px;
  }
  .basket__list {
    row-gap: 32px;
  }
  .basket__item-img {
    width: 143px;
    height: 188px;
  }
  .basket__item-box {
    margin-top: 13px;
    margin-left: 17px;
    margin-right: 53px;
  }
  .basket__item {
    font-size: 14px;
    line-height: 17px;
    color: #575757;
  }
  .basket__item-title {
    font-size: 16px;
    line-height: 19px;
    color: #222;
    margin-bottom: 28px;
  }
  .basket__item-input {
    font-size: 10px;
    line-height: 12px;
    color: #656565;
    width: 26px;
    padding: 1px 9px;
  }
  .basket__item-button {
    top: 17px;
    right: 12px;
  }
  .basket__item-button--svg {
    width: 10px;
    height: 10px;
  }
  .basket__button {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #222;
    padding: 9px 18px;
  }
}

.basket__form-item {
  max-width: 360px;
}

.basket__form-cost {
  margin-top: 57px;
  background-color: #F5F3F3;
  padding: 40px 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1170px) {
  .basket__form {
    padding-top: 64px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 15px;
    margin: 0 auto;
  }
  .basket__form-cost {
    margin-bottom: 28px;
  }
}

@media (max-width: 752px) {
  .basket__form {
    padding-top: 48px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 48px;
  }
  .basket__form-cost {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.form__item-title {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222;
  margin-top: 17px;
}

.form__item-input {
  width: 360px;
  margin-top: 20px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #222;
  padding: 13px 17px 16px 17px;
  border: 1px solid #A4A4A4;
}

.form__item-input::-webkit-input-placeholder {
  color: #B1B1B1;
}

.form__item-input:-ms-input-placeholder {
  color: #B1B1B1;
}

.form__item-input::-ms-input-placeholder {
  color: #B1B1B1;
}

.form__item-input::placeholder {
  color: #B1B1B1;
}

.form__item-button {
  padding: 11px 15px;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #575757;
  background: none;
  border: 1px solid #A4A4A4;
  margin-top: 23px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.form__item-button:hover {
  cursor: pointer;
  background-color: #575757;
  color: #FFF;
}

.form__cost-sub {
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 11px;
  line-height: 13px;
  color: #A4A4A4;
}

.form__cost-subspan {
  padding-left: 25px;
}

.form__cost-total {
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222;
  margin-top: 12px;
  margin-right: 3px;
}

.form__cost-totalspan {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  padding-left: 25px;
}

.form__cost-hr {
  margin-top: 21px;
  margin-bottom: 17px;
  background-color: #E2E2E2;
  border: none;
  height: 1px;
  width: 275px;
}

.form__cost-submit {
  padding: 15px 35px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #FFF;
  background-color: #F16D7F;
  border: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.form__cost-submit:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
/*# sourceMappingURL=style.css.map */