.product {
    background-color: $color_block-white;
    margin-bottom: 95px;

    &__pmargin {
        margin-bottom: 128px;
        margin-top: 128px;
    }

    &__title {
        @include set_fonts(0, 30px, 36px, $color_grey, center);
    }

    &__tdesc {
        @include set_fonts(0, 14px, 17px, $color_pt-desc, center);
        padding-top: 6px;
    }

    &__main {
        margin-top: 48px;
        margin-bottom: 48px;
        @include flex(0, center, 0, wrap);
        gap: 30px;
    }

    &__item {
        width: 360px;
        position: relative;
        background-color: $color_block2;
        padding-bottom: 20px;
    }

    &__mask {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 420px;
        background: rgba(58, 56, 56, 0.86);
        justify-content: center;
        align-items: center;
        z-index: 1; //Для видео!

        opacity: 0;
        transition: 0.3s;

        &-button {
            padding: 14px 16px;
            @include set_fonts(0, 14px, 17px, $color_text-white);
            background: none;
            border: 1px solid #FFF;
            transition: 0.3s;
        }
        &-button:hover {
            cursor: pointer;
            transform: scale(1.15);
            background-color: #666;
        }
        &-img {
            margin-right: 11px;
            vertical-align: middle;
        }
    }

    &__item:hover &__mask {
        // display: flex;
        opacity: 1;
    }
    
    &__link {
        @include set_fonts(0, 13px, 16px, $color_text-black);
        text-decoration: none;
        &:hover {
            color: #F16D7F;
        }
    }
    &__name {
        margin-top: 24px;
        padding-left: 18px;
    }
    &__desc {
        @include set_fonts(300, 14px, 17px, $color_pt-desc-2);
        margin-top: 13px;
        padding-left: 16px;
    }
    &__price {
        @include set_fonts(0, 16px, 19px, $color_pink);
        margin-top: 18px;
        padding-left: 19px;
    }
    &__all {
        text-align: center;
    }
    &__button {
        border: 1px solid #FF6A6A;
        padding: 15px 39px;
        @include set_fonts(0, 16px, 19px, $color_text-next2);
        background-color: $color_block-white;
        text-decoration: none;
        display: inline-block;

        transition: 0.3s;
    }
    &__button:hover {
        background-color: $color_text-next2;
        color: $color_text-white;
        transform: scale(1.1);
    }
    &__video {
        object-fit: cover;
        /* object-position: top; */
    }

    @media (max-width: $width_desc) {

        margin-bottom: 64px;

        &__main {
            gap: 15px;
            margin-top: 72px;
            margin-bottom: 32px;
        }
     }

     @media (max-width: $width_plan) { 

        margin-bottom: 96px;
        
        &__main {
            gap: 15px;
            margin-top: 64px;
            margin-bottom: 40px;
        }
     }

}

/* !!!-- catalog.html */

.product {
    &__main-cat {
        margin-top: 64px;
    }
    &__page {
        margin-top: 48px;
        @include flex(0, center);
    }
    @media (max-width: $width_desc) {
        &__main-cat {
            margin-top: 40px;
        }
        &__page {
            margin-top: 40px;
        }
    }
    @media (max-width: $width_plan) {
        &__main-cat {
            margin-top: 32px;
        }
    }
}

.page {
    &__list {
        padding: 15px;
        list-style: none;
        display: flex;
        border: 1px solid #EBEBEB;
        border-radius: 3px;
        column-gap: 15px;
        background-color: $color_block-white;
    }
    &__item-link {
        @include set_fonts(300, 16px, 19px, $color_pt-list);
        text-decoration: none;
    }
    &__item-link:hover {
        color: $color_pink2;
        text-decoration: underline;
    }
    &__item-link:not([href]) {
        color: $color_pink2;
        text-decoration: none;
    }
    &__item-last::before {
        content: ".....";
        margin-left: -15px;
        @include set_fonts(300, 16px, 0, $color_pt-list);
    }
    &__item-button {
        padding-top: 3px;
    }
    &__button-link[href]:hover &__button-svg {
        fill: $color_pink;
    }
    &__button-svg {
        fill: $color_block-black;
    }
}
/* !!!-- catalog.html */

.filter {

    &__box {
        @include flex(0, 0, flex-end);
        column-gap: 30px;
        margin-top: 39px;
    }

    &__main-details {
        position: relative;
        width: 360px;
    }
    &__main-title {
        @include set_fonts(600, 14px, 17px, $color_text-black);
        display: block;
        cursor: pointer;
        padding-left: 16px;
        padding-top: 13px;
        background-color: $color_block-white;
        z-index: 20;
        position: relative;
    }
    &__main-title::-webkit-details-marker { display: none; }
    &__main-title:hover {
        color: $color_pink2;
    }
    &__main-title:hover &__main-svg {
        fill: $color_pink2;
    }

    &__main-svg {
        fill: $color_block-black;
        margin-left: 11px;
    }
    &__main-details[open] {
        box-shadow: $shadow;
    }
    &__main-details[open]  &__main-title {
        color: $color_pink2;
    }
    &__main-details[open]  &__main-svg {
        fill: $color_pink2;
    }
    &__list {
        width: 360px;
        position: absolute;
        padding: 16px 17px 16px 17px;
        background-color: $color_block-white;
        box-shadow: $shadow;
        z-index: 10;
    }
    &__next-title {
        display: block;
        @include set_fonts(0, 14px, 17px, $color_pink2);
        padding: 8px 11px 11px 11px; 
        border-bottom: 1px solid #EBEBEB;
        border-left: 5px solid $color_pink2;
        cursor: pointer;
    }
    &__next-title::-webkit-details-marker { display: none; }

    &__next-list {
        list-style: none;
        padding-top: 24px;
        padding-left: 17px;
    }
    &__next-item {
        @include set_fonts(0, 14px, 17px, 0);
        margin-bottom: 11px;
    }
    &__next-item:nth-last-child(1) {
        margin-bottom: 0px;
    }
    &__next-ilink {
        text-decoration: none;
        color: $color_text-next;
    }
    &__margin {
        margin-top: 18px;
    }

    @media (max-width: $width_desc) {
        &__box {
            margin-top: 24px;
            justify-content: space-between;
            align-items: center;
        }
        &__main-details {
            width: 50px;
        }
        &__main-details[open] {
            box-shadow: none;
        }
        &__main-title {
            padding-left: 0;
            background: none;
            padding-top: 0;
        }
        &__main-svg {
            margin-left: 0;
        }
        &__list {
            margin-top: 20px;
        }
    }


}
@media (max-width: $width_desc) {
    .hidden__plan {
        display: none;
    }
    .filter__main-svg {
        width: 37.5px;
        height: 25px;
    }
}

.sort {
    display: flex;
    // column-gap: 28px;

    &__details {
        position: relative;
        padding-right: 28px;
    }
    &__title {
        display: block;
        @include set_fonts(0, 14px, 17px, $color_text-next);
        cursor: pointer;
    }
    &__title::-webkit-details-marker { display: none; }
    &__title:hover {
        color: $color_pink2;
    }
    &__title:hover &__svg {
        fill: $color_pink2;
    }
    
    &__svg {
        fill: $color_text-next;
        margin-left: 9px;
    }
    
    &__box {
        position: absolute;
        left: -10px;
        background-color: $color_block-white;
        box-shadow: $shadow;
        margin-top: 5px;
        padding: 9px 30px 9px 9px;
        z-index: 20;
    }
    &__box-label {
        display: block;
        @include set_fonts(0, 14px, 17px, $color_text-next);
        margin-bottom: 7px;
    }
    &__box-label:nth-last-child(1) {
        margin-bottom: 0px;
    }
    &__box-checkbox {
        margin-right: 9px;
        width: 13px;
        height: 13px;
        border: 3px solid #EBEBEB;
    }

    @media (max-width: $width_desc) {
        &__details {
            padding-right: 24px;
        }
        &__details:nth-last-child(1) {
            padding-right: 0;
        }
    }
    @media (max-width: $width_plan) {
        &__title {
            @include set_fonts(0, 12px, 14px, $color_text-next);
        }
    }
}
