.product {
    background-color: #FFF;
    margin-bottom: 95px;

    &__pmargin {
        margin-bottom: 128px;
        margin-top: 128px;
    }

    &__title {
        @include set_fonts(0, 30px, 36px, $color_grey, center);
    }

    &__tdesc {
        @include set_fonts(0, 14px, 17px, $color_pt-desc, center);
        padding-top: 6px;
    }

    &__main {
        margin-top: 48px;
        margin-bottom: 48px;
        @include flex(0, center, 0, wrap);
        gap: 30px;
    }

    &__item {
        width: 360px;
        position: relative;
        background-color: #F8F8F8;
        padding-bottom: 20px;
    }

    &__mask {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 420px;
        background: rgba(58, 56, 56, 0.86);
        justify-content: center;
        align-items: center;
        z-index: 1; //Для видео!

        opacity: 0;

        &-button {
            padding: 14px 16px;
            @include set_fonts(0, 14px, 17px, $color_text-white);
            background: none;
            border: 1px solid #FFF;
        }
        &-button:hover {
            cursor: pointer;
        }
        &-img {
            margin-right: 11px;
            vertical-align: middle;
        }
    }

    &__item:hover &__mask {
        // display: flex;
        opacity: 1;
        transition: 0.3s;
    }
    &__name {
        @include set_fonts(0, 13px, 16px, $color_text-black);
        margin-top: 24px;
        padding-left: 18px;
    }
    &__desc {
        @include set_fonts(300, 14px, 17px, $color_pt-desc-2);
        margin-top: 13px;
        padding-left: 16px;
    }
    &__price {
        @include set_fonts(0, 16px, 19px, $color_pink);
        margin-top: 18px;
        padding-left: 19px;
    }
    &__all {
        text-align: center;
    }
    &__button {
        border: 1px solid #FF6A6A;
        padding: 15px 39px;
        @include set_fonts(0, 16px, 19px, #F26376);
        background-color: $color_block-white;
        text-decoration: none;
        display: inline-block;

        transition: background-color, color;
        transition-duration: 0.3s, 0.5s;
    }
    &__button:hover {
        background-color: #F26376;
        color: $color_text-white;
    }
    &__video {
        object-fit: cover;
        /* object-position: top; */
    }
}

/* !!!-- catalog.html */

.product {
    &__main-cat {
        margin-top: 64px;
    }
    &__page {
        margin-top: 48px;
        @include flex(0, center);
    }
}

.page {
    &__list {
        padding: 15px;
        list-style: none;
        display: flex;
        border: 1px solid #EBEBEB;
        border-radius: 3px;
        column-gap: 15px;
        background-color: $color_block-white;
    }
    &__item-link {
        @include set_fonts(300, 16px, 19px, $color_pt-list);
        text-decoration: none;
    }
    &__item-link:not([href]) {
        color: #EF5B70;
    }
    &__item-link:hover {
        color: #EF5B70;
    }
    &__item-last::before {
        content: ".....";
        margin-left: -15px;
        @include set_fonts(300, 16px, 0, $color_pt-list);
    }
    &__item-button {
        padding-top: 3px;
    }
    &__button-link[href]:hover &__button-svg {
        fill: $color_pink;
    }
    &__button-svg {
        fill: $color_block-black;
    }
}
/* !!!-- catalog.html */









.filter__box {
    display: flex;
    column-gap: 30px;
    align-items: flex-end;
    margin-top: 39px;
}

.filter__main-details {
    position: relative;
    width: 360px;
}
.filter__main-title {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;;
    display: block;
    cursor: pointer;
    padding-left: 16px;
    padding-top: 13px;
    background-color: #fff;
    z-index: 20;
    position: relative;
}
::-webkit-details-marker { display: none; }

.filter__main-svg {
    fill: #000000;
    margin-left: 11px;
}
.filter__main-details[open] {
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.filter__main-details[open]  .filter__main-title {
    color: $color_pink2;
}
.filter__main-details[open]  .filter__main-svg {
    fill: $color_pink2;
}
.filter__list {
    width: 360px;
    position: absolute;
    padding: 16px 17px 16px 17px;
    background-color: #fff;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    z-index: 10;
}
.filter__next-title {
    display: block;
    font-size: 14px;
    line-height: 17px;
    padding: 8px 11px 11px 11px; 
    border-bottom: 1px solid #EBEBEB;
    border-left: 5px solid #EF5B70;
    cursor: pointer;
    color: #EF5B70;
}
::-webkit-details-marker { display: none; }

.filter__next-list {
    list-style: none;
    padding-top: 24px;
    padding-left: 17px;
}
.filter__next-item {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 11px;
}
.filter__next-item:nth-last-child(1) {
    margin-bottom: 0px;
}
.fiter__next-ilink {
    text-decoration: none;
    color: #6F6E6E;
}
.filter__margin {
    margin-top: 18px;
}


.sort {
    display: flex;
    // column-gap: 28px;
}
.sort__details {
    position: relative;
    padding-right: 28px;
}
.sort__title {
    display: block;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    cursor: pointer;
}
::-webkit-details-marker { display: none; }

.sort__svg {
    fill: #6F6E6E;
    margin-left: 10px;
}

.sort__box {
    position: absolute;
    left: -10px;
    background-color: #fff;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    margin-top: 5px;
    padding: 9px 30px 9px 9px;
    z-index: 20;
}
.sort__box-label {
    display: block;
    font-size: 14px;
    line-height: 16px;
    color: #6F6E6E;
    margin-bottom: 7px;
}
.sort__box-label:nth-last-child(1) {
    margin-bottom: 0px;
}
.sort__box-checkbox {
    margin-right: 9px;
    width: 13px;
    height: 13px;
    border: 3px solid #EBEBEB;
}
