.feature {
    background-color: $color_grey;
    color: $color_text-white;
    padding: 105px 0;

    &__flex {
        @include flex(0, center, 0, wrap);
        column-gap: 30px;
        row-gap: 48px;
    }
    &__item {
        text-align: center;
        max-width: 360px;
        &:hover {
            transform: scale(1.15);
            transition: 0.3s;            
        }
    }
    
}

.fitem-img {
    height: 40px;
}
.fitem-h3 {
    @include set_fonts(0, 19px, 24px, #FBFBFB);
    padding-top: 19px;
}
.fitem-text {
    @include set_fonts(300, 14px, 17px, #FBFBFB);
    padding-top: 16px;
}