.header {
    background-color: $color_grey;
    color: $color_text-white;

    &__center {
        @include flex(0, space-between, flex-end);
        margin-top: 18px;
        margin-bottom: 19px;
    }
    &__logo-link {
        margin-right: 41px;
        text-decoration: none;
    }
    &__item-button {
        background: none;
        border: none;
    }
    &__item-svg {
        fill: #E8E8E8;
    }
    &__item-cart {
        position: absolute;
        top: -7px;
        right: -9px;
        width: 19px;
        height: 19px;
        background-color: $color_pink;
        @include set_fonts(0, 12px, 14px, $color_text-white);
        border-radius: 50%;
        @include flex(0, center, center);
    }
    &__item-button:hover &__item-svg {
        fill: $color_pink;
        cursor: pointer;
    }
}

.nav {
    &__list {
        @include flex(0, 0, flex-end);
        column-gap: 30px;
        list-style: none;
        position: relative;
    }
    &__item-link {
        text-decoration: none;
    }
    &__item-link:hover .header__item-svg {
        fill: $color_pink;
    }

    @media (max-width: $width_plan) { 
        &__item:nth-last-child(1),  &__item:nth-last-child(2){
            display: none;
        }
     }
}


.main {
    &__menu {
        display: none;
        position: absolute;
        right: 0px;
        top: 78px;
        height: 764px;
        width: 232px;
        background-color: $color_block-white;
        padding: 37px 34px;
        color: $color_text-black;
        box-shadow: $shadow;

        z-index: 50;

        -webkit-animation: left-menu 0.8s;
        animation: left-menu 0.8s;

        @keyframes left-menu {
            0% {
                -webkit-transform: translateX(232px);
                transform: translateX(232px);
            }
            100% {
                -webkit-transform: translateX(0px);
                transform: translateX(0px);
            }
          }
        
          @media (max-width: $width_plan) { 
            @keyframes left-menu {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }
         }
    }
    &__menu-box {
        position: relative;
    }
    &__menu-close {
        border: none;
        background: none;
        position: absolute;
        right: -9px;
        top: -9px;
        cursor: pointer;
    }
    &__menu-close:hover  &__menu-close--svg{
        fill: $color_text-next2;
        transform: scale(1.2);
        transition: 0.3s;
    }
    &__menu-close--svg {
        fill: $color_text-next;
        transition: 0.3s;
    }
    &__menu-title {
        @include set_fonts(bold, 14px, 17px, $color_text-black);
    }
    &__menu-list {
        list-style: none;
    }
    &__menu-item {
        margin-top: 20px;
    }
    &__menu-item:nth-child(1) {
        margin-top: 24px;
    }
    &__menu-link {
        @include set_fonts(0, 14px, 17px, #F16D7F);
        text-decoration: none;
    }
    &__menu-link:hover {
        color: $color_text-next;
    }
    &__submenu-list {
        list-style: none;
        margin-left: 20px;
        margin-top: 12px;
    }
    &__submenu-item {
        margin-bottom: 11px;
    }
    &__submenu-item:nth-last-child(1) {
        margin-bottom: 0px;
    }
    &__submenu-link {
        @include set_fonts(0, 14px, 17px, $color_text-next);
        text-decoration: none;
    }
    &__submenu-link:hover {
        color: $color_text-next2;;
    }
}

