.promo {
    background-color: #F1E4E6;

    &__old {
        background-color: #F8F3F4;
    }

    &__center {
        height: 764px;
        background-image: url("../img/promo-bg.png");
        background-repeat: no-repeat;
        background-position-x: -225px;
        @include flex(0, flex-end, flex-start);
    }
    &__title {
        @include set_fonts(900, 48px, 40px, $color_text-grey);
        border-left: 12px solid $color_pink;
        padding-left: 16px;
        padding-top: 10px;
        margin-right: 100px;
        margin-top: 290px;
    }
    &__title--small {
        @include set_fonts(bold, 32px, 38px, 0);
    }
    &__title--pink {
        color: $color_pink;
    }
    /* !!! --catalog.html */
    &__center--cat {
        height: 148px;
        background-image: none;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
    }
    &__title--cat {
        @include set_fonts(normal, 24px, 29px, $color_pink);
    }

    
    @media (max-width : $width_desc) {
        &__center {
            height: 365px;
            background-position-x: 0;
            background-size: contain;
            align-items: center;
        }
        &__title {
            margin: 0;
            margin-right: 16px;
        }
        &__center--cat {
            height: 148px;
        }
    }
    
    @media (max-width: $width_plan) {
        &__center--cat {
            height: 148px;
            flex-direction: column;
            gap: 32px;
        }
        &__center {
            // height: 363px;
            background-image: none;
            justify-content: center;
        }
        &__title {
            padding-top: 5px;
            @include set_fonts(900, 38px, 24px, $color_text-grey);
        }
        &__title--small {
            @include set_fonts(bold, 20px, 24px, 0);
        }
        &__title--cat {
            @include set_fonts(normal, 20px, 24px, $color_pink);
        }
    }

}




.catnav {
    &__list {
        list-style: none;
        display: flex;
        column-gap: 6px;
    }
    &__item::before {
        content: "/";
        margin-right: 6px;
        color: $color_text-next3;
    }
    &__item:first-child::before {
        display: none;
    }
    &__link { 
        @include set_fonts(300, 14px, 17px, $color_text-next3);
        text-decoration: none;
        text-transform: uppercase;
    }
    &__link--last {
        @include set_fonts(bold, 0, 0, $color_pink);
    }
    &__link[href]:hover {
        text-decoration: underline;
        color: $color_pink;
    }
}