.slide {
    height: $slide_height;
    background-color: $slide_bg;
    @include flex(0, space-between, center);
    border-top: 1px solid $slide_border;
    border-bottom: 1px solid $slide_border;
    padding-bottom: $pad_height;

    &__button {
        width: 47px;
        height: 47px;
        background: rgba(42, 42, 42, 0.15);
        @include flex(0, center, center);
        border: none;
        transition: 0.3s;

        &:hover {
            cursor: pointer;
            background: none;
            outline: 1px solid $color_pink;
            border-radius: 25px;
            .slide__butto-svg {
                fill: $color_pink;
            }
        }
        &-left:hover {
            transform: translateX(10px);
        }
        &-right:hover {
            transform: translateX(-10px);
        }
    }
    &__img {
        height: $slide_height - $pad_height - 1;
        // height: 100%;
    }
}