.viewproduct {
    background-color: $color_block-white;
    border: 1px solid $slide_border;
    margin-top: -$pad_height;
    @include flex(column, 0, center);
    padding-top: 65px;
    padding-bottom: 65px;

    &__p {
        @include set_fonts(300, 14px, 17px, #F16D7F);
        margin-bottom: 12px;
    }

    &__hr {
        background-color: $color_pink2;
        border: 1px solid $color_pink2;
        width: 63px;
        height: 3px;
        margin-bottom: 12px;
    }
    &__h2 {
        @include set_fonts(300, 18px, 22px, #4D4D4D);
        margin-bottom: 48px;
    }
    &__desc {
        width: 555px;
        @include set_fonts(300, 14px, 17px, #5E5E5E, center);
        margin-bottom: 32px;
    }
    &__price {
        @include set_fonts(300, 24px, 29px, $color_pink2);
        margin-bottom: 65px;
    }
    &__hr2 {
        width: 642px;
        height: 1px;
        background-color: $slide_border;
        border: none;
        margin-bottom: 65px;
    }
    &__choice {
        margin-bottom: 48px;
    }
    &__button {
        padding: 15px 57px;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 23px;
        @include set_fonts(normal, 16px, 19px, $color_text-next2);
        border: 1px solid #FF6A6A;
        background-color: $color_block-white;
        transition: 0.3s;

        &:hover {
            color: $color_text-white;
            background-color: $color_text-next2;
            cursor: pointer;
            transform: scale(0.9);
        }
        &:hover  &-img {
            fill: $color_block-white;
        }
    }
    &__button-img {
        margin-left: -33px;
        fill: $color_text-next2;
    }

    &__choice {
        display: flex;
        justify-content: center;
        column-gap: 23px;
    }
    &__sort {
        position: relative;
    }
    &__sort-title {
        display: block;
        @include set_fonts(0, 14px, 17px, $color_text-next);
        cursor: pointer;
    }
    &__sort-title::-webkit-details-marker { display: none; }
    &__sort-title:hover {
        color: $color_pink2;
    }
    &__sort-title:hover &__sort-svg {
        fill: $color_pink2;
    }
    &__sort-svg {
        margin-left: 9px;
        fill: $color_text-next;
    }
    &__sort-dtl {
        position: absolute;
    }
}